%script#feeds-page{ type: 'text/x-template' }
  %tag-buttons{ v: { with: 'tags: tags, currentTags: currentTags' } }

  %hr

  .container-fluid
    .row{ v: { component: 'subscription-row', repeat: 'subscriptions', ref: 'subscriptionConponents' } }

  .more.text-center{ v: { show: '!isLastPage' } }
    %button.btn.btn-primary{ v: { on: 'click: showMore' } } 続きを表示

%script#subscription-row{ type: 'text/x-template' }
  .col-md-5
    = link_to '', target: '_blank', 'v-attr' => 'href: feedPath' do
      %b {{userTitle}}
  .col-md-6
    = link_to '', target: '_blank', 'v-attr' => 'href: feedPath' do
      {{feed.latestItem.title}}
  .col-md-1
    %a{ href: '{{href}}' }
      %span.glyphicon.glyphicon-edit
      編集
    %span.response
