- content_for :vue_app, true

-#%h1.page-header Feeds
-#
-#= render 'tags'
-#
-#%table.table.table-hover
-#  %tr
-#    %th
-#    %th= Feed.human_attribute_name :title
-#    %th Latest
-#    %th= Feed.human_attribute_name :tags
-#    %th Apply
-#    %th Delete
-#    %th
-#  - @subscriptions.each do |subscription|
-#    %tr{ class: "_#{subscription.id}" }
-#      = form_for subscription, remote: true, class: %w[form form-inline] do |f|
-#        %td
-#          = link_to '■', f.object.feed, target: '_blank'
-#        %td.title
-#          = f.text_field :title, size: 50, class: 'form-control', placeholder: subscription.feed.title
-#        %td.latest
-#          = link_to truncate(subscription.feed.latest_item.try(:title), length: 30), subscription.feed, target: '_blank'
-#        %td.tag
-#          = f.text_field :tag_list, class: 'form-control', value: subscription.tags_string
-#        %td
-#          = f.button class: %w[btn btn-primary btn-sm] do
-#            %span.glyphicon.glyphicon-ok
-#        %td
-#          = link_to subscription_path(subscription), method: :delete, class: %w[btn btn-sm btn-danger], data: { confirm: 'Delete?' } do
-#            &cross;
-#        %td.response
-#
-#= paginate @subscriptions
