@import "bootstrap/dist/css/bootstrap.css"

body
  padding 8px 0 16px
  word-wrap break-word

.item
  .description.shorten
    max-height 350px
    overflow hidden

.feeds
  margin 8px 0

.published-at
  font-style italic

.tag-button
  margin 4px 1px

.fixed-alerts
  position fixed
  right 0
  top 0
  margin 16px
