#!/usr/bin/env bash
export PATH="$PWD/frontend/node_modules/.bin:$PWD/bin:$PWD/bundle_bin:$PATH"
export COMPOSE_FILE=docker-compose-development.yml # docker-compose up for development
export PGDATABASE=russ_development
export PGUSER=postgres
export PGHOST=localhost

echo '* npmとGemfile上のgemのコマンドにパスを通しました。springも自動で効きます。'
echo '* 環境変数COMPOSE_FILEを設定しました。docker-compose upにより開発環境用のミドルウェアが立ち上がります。'
echo '* psqlコマンドの環境変数を設定しました。docker-compose upしたPostgreSQLがデフォルトの接続先になります。'
