#!/usr/bin/env bash
export PATH="$(npm bin):$PWD/bin:$PWD/bundle_bin:$PATH"
export PGDATABASE=russ_development
export PGUSER=postgres
export PGHOST=localhost
export RUBYOPT="-w"

echo '* npmとGemfile上のgemのコマンドにパスを通しました。springも自動で効きます。'
echo '* psqlコマンドの環境変数を設定しました。docker-compose upしたPostgreSQLがデフォルトの接続先になります。'
echo '* RUBYOPTで-wを渡して警告を表示します。'
