#!/usr/bin/env bash
export PATH="$HOME/bin:$(npm bin):$PWD/bin:$PWD/bundle_bin:$PATH"
export PGDATABASE=russ_development
export PGUSER=postgres
export PGHOST=localhost

source ./containers/env/docker-database.env
export PGPASSWORD=$POSTGRES_PASSWORD

echo '* $HOME/binにパスを通しました。ここを通してchromedriverを使用します。'
echo '* npmとGemfile上のgemのコマンドにパスを通しました。springも自動で効きます。'
echo '* psqlコマンドの環境変数を設定しました。docker-compose upしたPostgreSQLがデフォルトの接続先になります。'
echo '* containers/env以下のファイルを編集し、環境変数を最初に設定してください。'
