%script#tag-buttons{ type: 'text/x-template' }
  %span{ v: { component: 'tag-button', repeat: 'tags' } }

%script#tag-button{ type: 'text/x-template' }
  .btn-group.btn-group-sm.tag-button
    %a.btn{ v: { on: 'click: select', class: 'btn-info: isActive, active: isActive, btn-default: !isActive' } }
      %span.glyphicon.glyphicon-tag
      {{name}} ({{count}})
    %a.btn.btn-default{ v: { on: 'click: toggle' } }
      %span.glyphicon{ v: { class: 'glyphicon-minus: isActive, glyphicon-plus: !isActive' } }
