%script#item-panel{ type: 'text/x-template' }
  .panel.panel-default.item
    .panel-heading
      %a{ target: '_blank', v: { attr: 'href:link' } }
        {{title}}
      .pull-right{ v: { if: '!hidefeed' } }
        %small
          %a{ v: { attr: 'href: subscriptionPath' } }
            {{feed.usersSubscription.userTitle}}
      .clearfix
    .panel-body
      .description{ v: { class: 'shorten: shorten' } }
        {{{description}}}
      %a{ href: 'javascript:void(0)', v: { show: 'shorten', on: 'click: showAll' } }
        すべて表示
      %small.published-at.pull-right
        %span.glyphicon.glyphicon-upload
        {{publishedAtMoment | date}}
