- content_for :components do
  %script#tag-buttons{ type: 'text/x-template' }
    %tag-button{ v: { repeat: 'tags' } }

  %script#tag-button{ type: 'text/x-template' }
    .btn-group.btn-group-sm.tag-button
      %a.btn{ v: { on: 'click: select', class: 'btn-info: isActive, active: isActive, btn-default: !isActive' } }
        %span.glyphicon.glyphicon-tag
        {{name}} ({{count}})
      %a.btn.btn-default{ v: { on: 'click: toggle' } }
        %span.glyphicon{ v: { class: 'glyphicon-minus: isActive, glyphicon-plus: !isActive' } }

  %script#item-panel{ type: 'text/x-template' }
    .panel.panel-default.item
      .panel-heading
        %a{ target: '_blank', v: { attr: 'href:link' } }
          {{title}}
        .pull-right
          %small
            %a{ target: '_blank', v: { attr: 'href:feed.link_url' } }
              {{feed.users_subscription.user_title}}
            %a{ v: { attr: 'href:feedPath' } }
              ■
        .clearfix
      .panel-body{ v: { html: 'description' } }

%tag-buttons{ v: { with: 'tags: tags, currentTags: currentTags', ref: 'tagButtons' } }

.items
  %div{ v: { repeat: 'items', component: 'item-panel' } }

.more.text-center{ v: { show: '!isLastPage' } }
  %button.btn.btn-primary{ v: { on: 'click: showMore' } } 続きを表示
