%ul.nav.nav-pills
  - current_user.tags.each do |tag|
    %li{ class: ('active' if tag.id.to_s == params[:tag_id]) }
      = link_to tag.name, params.merge(tag_id: tag.id)

= paginate @items
.items
  = render @items
= paginate @items
