= render 'tags'

= paginate @items

.items
  .panel.panel-default{ v: { repeat: 'items' } }
    .panel-heading
      %a{ target: '_blank', v: { attr: 'href:link' } }
        {{title}}
      .pull-right
        %small
          %a{ target: '_blank', v: { attr: 'href:feed.link_url' } }
            {{feed.users_subscription.user_title}}
          %a{ v: { attr: 'href:subscription_path(feed.users_subscription)' } }
            ■
    .clearfix
    .panel-body{ v: { html: 'description' } }

= paginate @items
