= render 'tags'

= paginate @items

%script#item-panel{ type: 'text/x-template' }
  .panel.panel-default
    .panel-heading
      %a{ target: '_blank', v: { attr: 'href:link' } }
        {{title}}
      .pull-right
        %small
          %a{ target: '_blank', v: { attr: 'href:feed.link_url' } }
            {{feed.users_subscription.user_title}}
          %a{ v: { attr: 'href:subscriptionPath' } }
            ■
    .clearfix
    .panel-body{ v: { html: 'description' } }

.items
  %item-panel{ v: { component: 'item-panel', repeat: 'items' } }

= paginate @items
