[Unit]
Description=RuSS Crawler

[Service]
WorkingDirectory=/russ
EnvironmentFile=/russ/russ.env
ExecStart=/russ/bin/bundle exec rails app:crawler
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
