/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-tokenfield/dist/css/bootstrap-tokenfield
 */

body
  padding: 8px 0 16px
  word-wrap: break-word

.items
  margin: 8px 0

.item
  .description.shorten
    max-height: 350px
    overflow: hidden

.published-at
  font-style: italic

.tag-button
  margin: 4px 1px

.fixed-alerts
  position: fixed
  right: 0
  top: 0
  margin: 16px
