%ul.nav.nav-pills
  - tag_ids = params[:tag] || []
  - current_user.feeds.tag_counts.each do |tag|
    - active = tag.name.in?(tag_ids)
    %li{ class: ('active' if active) }
      = link_to tag.name, params.merge(tag: active ? tag_ids - [tag.name] : (tag_ids + [tag.name]))
